:root {
  --Aureolin: #fdee00;
  --Cadmium-green: #006b3c;
  --Cadmium-orange: #ed872d;
  --Cadmium-red: #e30022;
  --Cadmium-yellow: #fff600;
  --Cerulean: #007ba7;
  --Cobalt-blue: #0047ab;
  --Egyptian-blue: #1034a6;
  --International-Klein-Blue: #002fa7;
  --Naples-Yellow: #fada5e;
  --Persian-Blue: #1c39bb;
  --Prussian-blue: #003153;
  --Scheeles-Green: #478800;
  --Titanium-yellow: #eee600;
  --Ultramarine: #120a8f;
  --Venetian-red: #c80815;
  --Viridian: #40826d;
  --YInMn-Blue: #2e5090;
}
